#openingImg {
    width: 100%;
    height: fit-content;
}


#segment1 {
    position: relative;
    top: -15rem;
}


#welcomebox {
    background-color: var(--light);
    height: auto;
    width: 60%;
    position: relative;
    top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 2rem 2rem 0;
    padding: 1rem;
}

#welcomebox h1 {
    color: var(--darkgreen);
    padding: 0;
    margin: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.card svg {
    fill: var(--darkgreen);
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}



@media screen and (max-width: 1279px) {
    #welcomebox {
       width: 80%; 
    }

    #segment1 {
        position: relative;
        top: -1rem;
    }

    #welcomebox p {
        font-size: 1rem;
        margin: 0.3rem;
    }
}

#map {
    width: 94%;
    height: 90%;
    min-height: 600px;
    padding: 2%;
}



label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

input[type=text], input[type=tel], input[type=email], textarea {
    width: 50vw;
    background-color: transparent;
    border: 0.1rem solid var(--light);
    box-sizing: border-box;
    padding: 0.5rem;
    color: var(--light);
    font-size: 1.4rem;
}

input[type=date] {
    background-color: var(--light);
    color: var(--darkgreen);
    font-size: 1.4rem;
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus {
    border: 0.1rem solid var(--light);

}





#submit {
    width: 10rem;
    height: 4rem;
    color: var(--light);
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    border: 0.2rem var(--light) solid;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s ease;
    margin-bottom: 2rem;
}

#submit:hover {
    background-color: var(--light);
    color: var(--darkgreen);
    transition: 0.4s ease;
}


#message {
    text-align: left;
    height: 5rem;

}



