
#openingImg {
    width: 100%;
    height: fit-content;
}


#segment1 {
    position: relative;
    top: -15rem;
}


#welcomebox {
    background-color: var(--light);
    height: auto;
    width: 60%;
    position: relative;
    top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 2rem 2rem 0;
    padding: 1rem;
}

#welcomebox h1 {
    color: var(--darkgreen);
    padding: 0;
    margin: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

#description p {
    color: var(--black);
    padding: 0 2rem;
    margin: 0.5rem;
    font-size: 1.6rem;
    font-weight: 550;
}

#description {
    min-height: 20rem;
    padding-bottom: 2rem;
}


.mySlides * {
  box-sizing: border-box;
}

.mySlides img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding: 2rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 1rem;
  margin-top: -4rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin: 0 2rem;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--light);
  font-size: 1rem;
  padding: 3rem 1.5rem;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: var(--darkgreen);
  padding: 0.1rem 1rem;
  color: var(--light);
  font-size: 2rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



#segment2 {
  margin: 15rem 0 30rem 0;
}

