/* Colors:
        red: #C32329
        white: #FFFFFF
        dark: #2E2E2D
*/ 



:root {
    --red: #C32329;
    --white: #ffffff;
    --dark: #2E2E2D;
}



@media (min-width: 1280px) {
    
html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    width: 99.5vw;
    margin: 0;

}


body::-webkit-scrollbar {
    background-color: var(--white);
    width: 0.45vw;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 3rem;
}









header {
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}


#headerimg a img {
    width: 15%;
    height: auto;
    margin: 1rem;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 53rem;
    height: 100%;
}

nav ul {
    height: 100%;
    width: 53rem;
} 


nav ul li {
    float: left;
    display: inline-block;
    list-style: none;
    height: auto;
    padding-top: 3.2%;
    padding-right: 4%;
    text-align: center;

}

nav ul li a:hover {
    color: var(--dark);
    transition: 0.5s;
}


nav ul li a {
    text-decoration: none;
    color: var(--red);
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.5s;
}










main {
    width: 99.5vw;
    height: fit-content;
    margin-top: 10rem;
}




nav svg {
    display: none;
}




footer {
    position: relative;
    margin-top: 3rem;
    width: 100%;
    height: fit-content;
}


footer p {
    color: var(--white);
    margin: 2rem;
    float: left;
    position: relative;
}



upicon a svg {
    fill: var(--red);
    background-color: white;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    padding: 0.7rem;
    z-index: 2;
}


hr {
    border-color: var(--red);
    width: 100%;

}

footer svg {
    width: 2rem;
    height: 2rem;
    position: relative;
    float: right;
    transition: 0.6s;
    fill: var(--white);
    margin: 1rem;
    margin-top: 2rem;
}

footer svg:hover {
    fill: var(--red);
    transition: 0.6s ease-in;
}


section {
    width: 99.5vw;
}


section p {
    color: var(--white);
    font-size: 1.5rem;
    padding: 3rem;
}


.reveal {
    position: relative;
    transform: translateY(5rem);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s ease;

}

















}




@media (max-width: 1279px) {
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        background-color: var(--dark);
        font-family: Arial, Helvetica, sans-serif;
        width: 99.5vw;
        margin: 0;
    
    }
    
    
    body::-webkit-scrollbar {
        background-color: var(--white);
        width: 0.3vw;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: var(--red);
        border-radius: 3rem;
    }
    
    
    header {
        width: 100%;
        height: fit-content;
        background-color: var(--white);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    
    #headerimg a img {
        width: auto;
        height: 5rem;
        margin: 0.3rem;
        min-height: 13.43vw;
        min-width: 50vw;
    }
    
    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 50rem;
        height: 100%;
    }

    nav svg {
        position: fixed;
        top: 0.4rem;
        right: 0.4rem;
        fill: var(--white);
        background-color: var(--red);
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        min-height: 12vw;
        min-width: 12vw;
        z-index: 3;

    }

    
    nav ul {
        height: fit-content;
        width: 20rem;
        background-color: var(--red);
        position: fixed;
        top: 3.15rem;
        right: 0;
        padding: 0.5rem;
        transition: 0.3s;
        opacity: 0;
        
    } 
    
    
    nav ul li {

        display: block;
        list-style: none;
        height: auto;
        padding-top: 1rem;
        padding-right: 10rem;
        text-align: left;
    
    }
    
    nav ul li a:hover {
        color: var(--dark);
        transition: 0.5s;
    }
    
    
    nav ul li a {
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
        text-align: center;
        font-size: 4rem;
        transition: 0.5s;
        padding-right: 5rem;
        
    }
    
    
    main {

        width: 99.5vw;
        height: fit-content;
    }
    
    
    section {
        width: 99.5vw;
    }
    
    
    section p {
        color: var(--white);
        font-size: 4rem;
        padding: 3rem;
    }
    
    
    .reveal {
        position: relative;
        transform: translateY(5rem);
        opacity: 0;
        transition: all 2s ease;
    }
    
    .reveal.active {
        transform: translateY(0);
        opacity: 1;
        transition: all 2s ease;
    
    }





    
    
    
    
    
    
    
    footer {
        position: relative;
        margin-top: 3rem;
        width: 100%;
        height: fit-content;
    }
    
    
    footer p {
        color: var(--white);
        margin: 2rem;
        float: left;
        position: relative;
        font-size: 2rem;
    }
    
    
    
    upicon a svg {
        fill: var(--red);
        background-color: white;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        width: 1rem;
        height: 1rem;
        border-radius: 3rem;
        padding: 0.7rem;
        min-width: 80px;
        min-height: 80px;
        z-index: 2;
    }

    hr {
        border-color: var(--red);
        width: 100%;
    
    }
    
    footer svg {
        width: 1rem;
        height: 1rem;
        position: relative;
        float: right;
        transition: 0.6s;
        fill: var(--white);
        margin: 1rem;
        margin-top: 2rem;
        min-width: 80px;
        min-height: 80px;
    }
    
    footer svg:hover {
        fill: var(--red);
        transition: 0.6s ease-in;
    }
    
    
    }
