h1 {
    text-align: center;
    margin: 1rem 0 3rem 0;
    font-size: 3rem;
}
    
section {    
    border-radius: 1rem;
    background-color: rgb(44, 44, 44);
    box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.5rem 0.3rem;
    width: 80%;
    padding: 1rem;
    margin: 2rem;
}



a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}



@media (max-width: 1279px) {
    main {
        margin-top: 6.5rem;
    }


}