@keyframes loadanim {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes logoanim {
    0% {

    }
}




#ourtech div {
    background-color: rgb(44, 44, 44);
    border-radius: 1rem;
    margin: 1rem;
}



.loadanim {
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}



.loadanim img {
    width: 100%;
    height: 100%;
    animation: loadanim 5s;
}


#loadlogo {
    width: 50vw;
    height: auto;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}


#segment1 {
    display: flex;



}

#segment1 img {
    width: 40vw;
    height: auto;
    position: relative;
    top: -17vh;
    right: -9vw;
    overflow: hidden;
}

#segment1 #container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
} 

@keyframes textanim {
    0% {
        background-position: 200%;
    }

    100% {
        background-position: 0%;
    }
}


#segment1 #container h1 {
    font-size: 3.4rem;
    text-align: center;
    background: linear-gradient(90deg, var(--white), var(--red), var(--white), var(--white), var(--white), var(--white));
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textanim 8s linear infinite;
}




#services {
    display: grid;
    grid-template-columns:33% 33% 33%;
    padding: 2%;
    margin: 0 10%;
    width: 75%;
    
}



#services h2 {
    font-size: 2rem;
    text-align: center;
    background-color: rgb(31, 31, 31);
    padding: 5%;
    border-radius: 1rem;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.5rem 0.3rem;
}

#services p {
    padding: 0 1rem 0 1rem;
    font-size: 1.5rem;
    padding: 5%;
}

#services div {
    background-color: rgb(44, 44, 44);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.5rem 0.3rem;

}



#ourtech-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}




#ourtech {
    width: 75%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 2%;
    
}

#ourtech div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

#ourtech svg {
    fill: white;
    width: 15vw;
    height: auto;
    padding: 1rem;
}

#ourtech h1 {
    font-size: 2.5rem;
    padding: 1.5rem 0;

    text-align: center;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.5rem 0.3rem;
    width: 100%;
    margin: 0;
}

#ourtech p {
    /*text-align: justify;*/
    padding: 1rem;
}



#ourtech img {
    width: 90%;
}


#vandals svg {
    width: 25vw;
    height: auto;
}

#temperature {
    width: 20vw;
    height: auto;
}

#colornightvision {
    width: 100%;
    height: auto;
}


@media (max-width: 1279px) {
    #ourtech {
        display: flex;
        flex-direction: column;
        width: 90%;
    }



    h1 {
        font-size: 3rem;
    }

    #ourtech div {
        margin-bottom: 0.5rem;
    }

    #ourtech svg {
        fill: white;
        width: 50vw;
        height: auto;
    }



    #services {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 4%;
    }

    

    #services h2 {
        font-size: 2.3rem;
    }


    #segment2 {
        margin-top: 5rem;
    }


    #segment1 {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column-reverse;
    
    }
    
    #segment1 img {
        width: 60vw;
        height: auto;
        position: relative;
        top: -60vh;
        right: -45vw;
    }
    
    #segment1 #container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
    } 

    
    #segment1 #container h1 {
        margin-top: -80vh;
        padding: 0 1rem 0 1rem ;
        font-size: 2.2rem;
        text-align: center;
        background: linear-gradient(90deg, var(--white), var(--red), var(--white), var(--white), var(--white), var(--white));
        background-size: 200%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: textanim 8s linear infinite;
    }
}


@media (min-width: 3000px) {
    body {
        background: #363636;
    }
}


