h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}


#segment1 {
    display: flex;

}

#segment1 img {
    width: 40vw;
    height: auto;
    position: relative;
    top: -17vh;
    right: -9vw;
}

#segment1 #container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
} 

#segment1 #container h1 {
    font-size: 3rem;
    text-align: center;
}

#ourtech {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 2%;
}

#ourtech div {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#ourtech svg {
    fill: white;
    width: 15vw;
    height: auto;
}

#ourtech h1 {
    font-size: 2.5rem;
    text-align: center;
}

#ourtech p {
    text-align: justify;
}

#vandals svg {
    width: 25vw;
    height: auto;
}

#temperature {
    width: 20vw;
    height: auto;
}

#colornightvision {
    width: 100%;
    height: auto;
}


@media (max-width: 1279px) {
    #ourtech {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 1.5rem;
    }

    #ourtech div {
        margin-bottom: 0.5rem;
    }

    #ourtech svg {
        fill: white;
        width: 50vw;
        height: auto;
    }
}


