

h1 {
    margin-top: 2rem;
    font-size: 4rem;
    text-align: center;
}


section {
    display: flex;
    justify-content: center;
}

.card {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.5rem 0.3rem;
    background-color: rgb(44, 44, 44);
    border-radius: 2rem;
    margin: 3rem 0;
    padding: 1rem 2rem 2rem 2rem;
}

.card h1 {
    font-size: 2rem;
}

.card h2 {
    font-size: 1.5rem;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
}


.gallery div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.gallery div img {
    height: 40vh;
    width: auto;
    max-width: 38vw;
}


section a {
    color: var(--white);
    text-decoration: none;
}


@media (max-width: 1279px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery div img {
        height: auto;
        width: 100%;
    }

    main {
        margin-top: 10rem;
    }

}



























/*
@media screen and (max-width: 1279px) {
    #segment1 div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}*/