#segment1 div {
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 5rem;
    text-align: center;
}


#segment1 h1 {
    font-size: 3rem;
}


#slideshow {
    width: 50vw;
    height: 30vh;
}


.slidingImage {
    width: 50vw;
    height: 30vh;
}


#slideshowButtons {
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#prevBtn, #nextBtn {
    width: 4rem;
    height: 4rem;
    
}

#prevBtn, #nextBtn > svg {
    fill: var(--white);
    width: 1.5rem;
    height: auto;
}


#prevBtn:hover > svg {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


#nextBtn:hover > svg {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}



































/*
@media screen and (max-width: 1279px) {
    #segment1 div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}*/