:root {
    --black: #000000;
    --light: #bcb397;
    --darkgreen: #163121;
    --hovercolor: #ffffff;
}





html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Merriweather', serif;
    color: var(--black);
    width: 99.5vw;
    margin: 0;
    background-color: var(--light);
}




body::-webkit-scrollbar {
    background-color: var(--light);
    width: 0.5vw;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--darkgreen);
    border-radius: 2rem;
}






header {
    background-color: var(--darkgreen);
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
}

nav * {
    margin: 0;
    padding: 0;
}

.menu, .submenu {
    list-style: none;
    margin: 0;
}

.item a {
    text-decoration: none;
    color: var(--light);
    transition: 0.4s ease-in-out;
    font-weight: bold;
    font-size: 1.5rem;

}




.item a:hover {
    color: var(--hovercolor);
    transition: 0.4s ease-in-out;
}




.menu li a {
    display: block;
    padding: 2rem 0 1rem 0;
}



.submenu {
    margin-top: -1rem;
    padding-bottom: 1rem;
}

.active .item {
    display: block;
}




.submenu-active .submenu {
    display: block;
}





.subitem a {
    padding: 1rem;
}





.downicon svg {
    fill: var(--light);
    height: 0.7rem;
    width: auto;
    transition: 0.6s ease;
}




@keyframes downanim {
    0% {
        transform: rotate(0deg);
    }

    
    100% {
        transform: rotate(360deg);
    }
}

 a:hover > span svg {
    fill: var(--hovercolor);
    transition: 0.6s ease-in;
    animation: downanim 0.6s;
}


.submenu {
    display: none;
}



.has-submenu {
    cursor: pointer;
}


@media screen and (min-width: 1280px) {

    :root {
        font-size: 12px;
    }


    .toggle {
        display: none;
    }

    .has-submenu:hover > .submenu {
        display: block;
        transition: 0.6s ease-in-out;
    }


    .submenu {
        position: absolute;
        background-color: var(--darkgreen);
        transition: 0.6s ease-in-out;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        align-items: center;
        padding-right: 1rem;
    }


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bacchus_logo img {
        width: auto;
        height: 5rem;
        margin: 1rem;
    }

    .item {
        margin: 1.5rem;
    }

    .subitem {
        padding-right: 2rem;
    }

}



#iconbar  {
    position: fixed;
    top: 0;
    z-index: 11;
    right: 0;
    margin: 0.5rem;
    margin-right: 1rem;
}




#iconbar svg {
    fill: var(--light);
    width: 1.4rem;
    height: auto;
    transition: 0.6s ease-in-out;
    margin: 0.25rem;

}

#iconbar svg:hover {
    fill: var(--hovercolor);
    transition: 0.6s ease-in-out;
}

#iconbar img {
    width: 1.4rem;
    margin: 0.25rem;

}



.reveal {
    position: relative;
    transform: translateY(5rem);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s ease;

}











main {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 7.7rem 0 0 0;
}





.curve-before-after,
.curve-before,
.curve-after {
    background-color: var(--darkgreen);
    height: auto;
    width: 100%;
    color: white;
}

footer::before,
.curve-before-after::before,
.curve-before-after::after,
.curve-before::before,
.curve-after::after {
    content: url("standard_curve.svg");
    width: 100%;
    height: auto;
    position: absolute;
    
}


footer::before,
.curve-before-after::before,
.curve-before::before {
    transform: rotate(180deg) translateY(100%);
}


footer::before {
    top: 0;
}

.cards-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cards {
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    z-index: 2;

}


.card {
    width: 80%;
    height: auto;
    min-height: 30rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.5rem 0.5rem;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    transition: 0.1s ease-in;
}

.card {
    text-decoration: none;
}



.light {
    background-color: var(--light);
    color: var(--darkgreen);
}

.dark {
    background-color: var(--darkgreen);
    color: var(--light);
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 90%;
    padding: 1.5rem;
    overflow: hidden;

}



.card:hover .cardImage img {
    transform: scale(1.1);
}


.photo {
    
    overflow: hidden;


}
  
img {
transition: transform 0.25s;
width: 100%;

}

.card:hover > .photo-container .photo img {
transform: scale(1.1);
}


.title {
    height: 7rem;
    min-height: 7rem;
    justify-content: center;
}

.card h1 {
font-size: 2.3rem;
font-weight: bold;
}

.empty {
    min-height: 0;
    height: 0;
    box-shadow: none;
}






































footer {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--darkgreen);
}


footer p {
    color: var(--light);
    margin: 2rem;
    font-size: clamp(8px, 1rem, 60px);
    line-height: 1.5rem;
}


#socialicons {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

#socialicons a {
    display: flex;
    align-items: center;
    color: var(--light);
    text-decoration: none;
    margin: 0.5rem;
    transition: 0.6s ease-in;
}

footer svg {
    width: clamp(15px, 1.5rem, 100px);
    height: clamp(15px, 1.5em, 100px);
    transition: 0.6s;
    fill: var(--light);
    z-index: 2;
    margin-right: 0.7rem;
}

#socialicons a:hover {
    color: var(--hovercolor);
    transition: 0.6s ease-in;
}

#socialicons a:hover >svg {
    fill: var(--hovercolor);
    transition: 0.6s ease-in;
}


#upicon {
    opacity: 0;
    transition: 0.3s ease;
}


upicon a svg {
    fill: var(--light);
    background-color: var(--darkgreen);
    position: fixed;
    bottom: 4.2rem;
    right: 4.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    padding: 0.7rem;
    z-index: 2;
    border: 0.2rem solid var(--light);
}









@media screen and (max-width: 1279px) {
    :root {
        font-size: 14px;
    }



    
    .toggle {
        fill: var(--light);
        width: 3rem;
        position: fixed;
        top: 0;
        right: 0;
        margin: 1rem;
        display: block;
        cursor: pointer;
    }

    header {
        min-height: 5rem;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #navbar {
        display: none;
    }

    .item {
        padding: 0rem;
        width: 100%;
        text-align: center;
    }



    .submenu li a {
        padding: 0.5rem;
    }


    #iconbar {
        margin-top: 1rem;
        margin-right: 5.5rem;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
    }


    .bacchus_logo {
        width: 100%;
    }

    .bacchus_logo img {
        width: auto;
        height: 3.5rem;
        margin: 0.5rem;
    }

    .item a, .subitem a {
        font-size: 2.5rem;
    }


    
    footer {
        display: flex;
        flex-direction: column-reverse;
    }


    footer svg {
        width: clamp(15px, 1.45rem, 100px);
        height: clamp(15px, 1.45rem, 100px);
        margin: clamp(3px, 0.2rem, 80px);
    }

    footer p {
        font-size: clamp(8px, 1rem, 60px);
        margin: 0.5rem 2rem;
    }

    upicon a svg {
        bottom: 3rem;
        right: 3rem;
    }






    main {
        margin-top: 5rem;
    }


    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        min-height: 50vh;
    }


    .empty {
        min-height: 0;
        height: 0;
        box-shadow: none;
    }


    .title {
        height: 7rem;
        min-height: 7rem;
    }

}




@media screen and (min-width: 2200px) {

    :root {
        font-size: 22px;
    }
}

@media screen and (max-width: 35cm) {

    :root {
        font-size: 14px;
    }
}